.container > div {
  border-radius: 6px;
  box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);
  color: #4a4a4a;
  display: block;
  width: 29rem;
  margin: 0 0 0 29rem;
  background-color: #f5f5f5;

  .button {
    background-color: #DD4B39;
    color: #fff;
    font-family: monospace;
    margin-left: 7rem;
    :hover {
      color: #6497b1;
    }
  }

  #container__image {
    height: 22rem;
  }
}

