// colors

// spacing
$m-size: 1.6rem;
$l-size: 45rem;;
$xl-size: 4.8rem;
$s-size: 2rem;
$desktop-breakpoint: 45rem;
$navbar-height: 5.25rem;
$navbar-logo-size: 2.6rem;
$nav-message-size: 1.2rem;

$base-spacing-unit: 24px;
$half-spacing-unit: 12px;
$border-radius-global: 5px;
$button-width: auto;
$button-height: 50px;
$button-text-color: white;
