// colors
$defualt-teal: #6497b1;
$defualt-red: rgb(204, 5, 5);
$btn-red: #DD4B39;
$default-grey: #f5f5f5;
$default-white: #ffffff;


// spacing
$m-size: 1.6rem;
$l-size: 45rem;;
$xl-size: 4.8rem;
$s-size: 2rem;
$desktop-breakpoint: 45rem;
$navbar-height: 5.25rem;
$navbar-logo-size: 2.6rem;


//font-size 
$default-font: 62.5%;

//font-family
$default-family: monospace;
